<h2 class="textBold">
    {{'ngCore.HELP_LABEL' | translate}}
    <small>{{'ngCore.HELP_LABEL_TEXT' |  translate}}</small>
</h2>

<div class="row well well-lg card">
    <strong>ngCore basic angularJS app with common concepts:</strong>
    <br/>
    <p>Aplikace lze po naklonování repository a s nainstalovaným node.js nainstalovat a spustit.</p>
    <br/>
    <p><strong>REST API (FireBase):</strong></p>
    Root URL: <a href="https://1389574865048.firebaseio.com/notes/">https://1389574865048.firebaseio.com/notes/</a><br/>
    Metody:<br/>
    <ul>
        <li>GET /notes</li>
        <li>GET /notes/{id}</li>
        <li>POST /notes</li>
        <li>PUT /notes/{id}</li>
        <li>DELETE /notes/{id}</li>
    </ul>
    <br/>
    <p><strong>Funkčni popis:</strong></p>
    Po instalaci a spuštění se po zadání localhost:9000 objeví stránka se seznamem s poznámkami.<br/>
    Je možné zobrazit detail, editovat, smazat a vytvořit novou poznámku.<br/>
    V aplikaci je možné měnit EN/CZ jazyk.<br/>
    <br/>
    <p><strong>Popis:</strong></p>
    GUI s použitím Bootstrapu.<br/>
    Build pomoci Grunt (předpoklad nainstalovaného Grunt globálně).<br/>
    Html tamplaty převedeny do JS.<br/>
    Ukázka použiti ui-outer (i multiple views)<br/>
    Jednoduchý e2e protractor test.<br/>
    <br/>
    README instrukce pro instalaci a spuštění aplikace a testu.

</div>
