@-webkit-keyframes fade-up-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}@-moz-keyframes fade-up-enter {
   0% {
     opacity: 0;
     -moz-transform: translateY(20px);
   }
   100% {
     opacity: 1;
     -moz-transform: translateY(0);
   }
 }@-o-keyframes fade-up-enter {
    0% {
      opacity: 0;
      -o-transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -o-transform: translateY(0);
    }
  }@keyframes fade-up-enter {
     0% {
       opacity: 0;
       transform: translateY(20px);
     }
     100% {
       opacity: 1;
       transform: translateY(0);
     }
   }@-webkit-keyframes fade-up-leave {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
      }
    }@-moz-keyframes fade-up-leave {
       0% {
         opacity: 1;
         -moz-transform: translateY(0);
       }
       100% {
         opacity: 0;
         -moz-transform: translateY(-20px);
       }
     }@-o-keyframes fade-up-leave {
        0% {
          opacity: 1;
          -o-transform: translateY(0);
        }
        100% {
          opacity: 0;
          -o-transform: translateY(-20px);
        }
      }@keyframes fade-up-leave {
         0% {
           opacity: 1;
           transform: translateY(0);
         }
         100% {
           opacity: 0;
           transform: translateY(-20px);
         }
       }


.animated-item.ng-enter,
.animated-item.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  transition:0.5s linear all;
}

.animated-item.ng-enter,
.animated-item.ng-leave.ng-leave-active {
  opacity:0;
}
.animated-item.ng-leave,
.animated-item.ng-enter.ng-enter-active {
  opacity: 1;
}

/*
* ui-view animated
*/

.animated-ui-view.ng-enter,
.animated-ui-view.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.animated-ui-view.ng-enter,
.animated-ui-view.ng-leave.ng-leave-active {
  opacity: 0;
}

.animated-ui-view.ng-leave,
.animated-ui-view.ng-enter.ng-enter-active {
  opacity: 1;
}

.animate-fade-up.ng-enter {
  -webkit-animation: 0.35s fade-up-enter;
  -moz-animation: 0.35s fade-up-enter;
  -o-animation: 0.35s fade-up-enter;
  animation: 0.35s fade-up-enter;
}

.animate-fade-up.ng-leave {
  -webkit-animation: 0.35s fade-up-leave;
  -moz-animation: 0.35s fade-up-leave;
  -o-animation: 0.35s fade-up-leave;
  animation: 0.35s fade-up-leave;
}

/*[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
  left: -100%;
}

[ui-view].ng-leave,
[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
}*/



/*.animated-show-item {
  opacity: 1;
}

.animated-show-item.ng-hide-add.ng-hide-add-active,
.animated-show-item.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animated-show-item.ng-hide {
  opacity: 0;
}*/


/*
sliding hover effects
*/

.slideWrapper {
  position: relative;
  overflow: hidden;
}

.slideWrapper .slideTop{
  position: absolute;
  top:-100px;
  transition: 0.2s;
  opacity: 0;
  padding: 10px;
  z-index: 2000;
}

.slideWrapper:hover .slideTop {
  transition: 0.3s;
  top: 4px;
  opacity: 1;
}

.slideWrapper .slideTopN{
  position: absolute;
  top:0px;
  transition: 0.2s;
  opacity: 0;
  padding: 10px;
  z-index: 2000;
}

.slideWrapper[ov] {
  overflow: visible;
}

.slideWrapper:hover .slideTopN {
  transition: 0.3s;
  top: -30px;
  opacity: 1;
}

.slideWrapper .slideRight{
  position: absolute;
  left:200px;
  right:-100px;
  transition: 0.2s;
}

.slideWrapper:hover .slideRight {
  transition: 0.1s;
  right: 0px;
  left:100px;
}