textarea, textarea.form-control, input.form-control,
input[type=text], input[type=password], input[type=email],
input[type=number], [type=text].form-control,
[type=password].form-control, [type=email].form-control,
[type=tel].form-control, [contenteditable].form-control, select, select.form-control {

    border: solid 1px #efefef;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
