
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-image: url("../assets/images/backgrounds/1.png");
  background-color: #f1f1f1;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/*.footer .container {
  width: 100%;
  //max-width: 680px;
  padding: 0 15px;
}*/

.footer .container .footer-content {
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
}


.main-top-margin {
  margin-top: 84px;
}

.ng-invalid.ng-dirty {
  /*border-right-style: solid;*/
  border-color: rgb(221, 0, 0);
}


.ng-invalid.ng-touched {
  /*border-right-style: solid;*/
  border-color: rgb(221, 0, 0);
}

.ng-invalid > .ed-term-selector {
  /*border-right-style: solid;*/
  border-color: rgb(221, 0, 0);
}

/*@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}*/

.flag {
  width: 16px;
  height: 11px;
  background:url(../assets/images/sprites/flags.png) no-repeat
}

.flag.flag-cz {background-position: -16px 0}
.flag.flag-gb {background-position: 0 -11px}


.bgr1 {
    background-image: url("../assets/images/backgrounds/1.png");
    background-color: #a9a9a9;
}

.bgr2 {
  background-image: url("../assets/images/backgrounds/1.png");
  background-color: #f1f1f1;
}

.bgr3 {
  background-color: #f1f1f1;
}


.section-box {
  -moz-box-shadow:    0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
  -webkit-box-shadow: 0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
  box-shadow:         0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
  padding: 25px;
}

.inner-shadow {
    -moz-box-shadow:    0px 0px 12px -2px #000 inset;
    -webkit-box-shadow: 0px 0px 12px -2px #000 inset;
    box-shadow:         0px 0px 12px -2px #000 inset;
}

.inner-shadow2 {
  -moz-box-shadow:    0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
  -webkit-box-shadow: 0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
  box-shadow:         0px 0px 12px -2px RGB(125, 125, 125, 0.5) inset;
}

.outter-shadow {
  -moz-box-shadow:    0px 8px 14px RGB(125, 125, 125, 0.1);
  -webkit-box-shadow: 0px 8px 14px RGB(125, 125, 125, 0.1);
  box-shadow:         0px 8px 14px RGB(125, 125, 125, 0.1);
}

.outter-shadow-light {
  -moz-box-shadow:    0px 0px 4px RGB(125, 125, 125, 0.1);
  -webkit-box-shadow: 0px 0px 4px RGB(200, 200, 200, 0.1);
  box-shadow:         0px 0px 4px RGB(125, 125, 125, 0.1);
}

.nav a {
  font-family: 'Droid Sans', sans-serif;
  font-size:16px;
}

.textLight {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Droid Sans', sans-serif;

}


.textBold {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-family: 'Droid Sans', sans-serif;*/

  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.note {
  font-size: 11px;
  background-color: #f5f5f5;
}

.card{
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.card-filled{
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #f1f1f1;
}




/*
form
*/

form .row {
  margin-right: inherit;
  margin-left: inherit;
  margin-top:10px;
}



.truncated { display:inline-block; max-width:100px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
