

.min-padding-left {
  padding-left: 6px!important;
}

.no-row-margin {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.no-row-padding {
  padding-left: 0px!important;
  padding-right: 0px!important;
}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-through {

  text-decoration: line-through;

}
