<html xmlns:ng="http://angularjs.org" ng-controller="AppController as appCtrl" lang="en" >
<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META NAME="ROBOTS" CONTENT="ALL">
    <meta charset="utf-8">
    <title>ngCore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="ngCore">
    <meta name="keywords" content="ngCore">
    <meta name="author" content="Martin Weiser">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- include: "type": "css", "files": "bower/**/*.css" -->
    <!-- /include -->

    <!-- include: "type": "css", "files": "styles/**/*.css" -->
    <!-- /include -->

</head>
<body>

<!-- LOADER -->
<img src="assets/images/loader/loader.gif" ng-class="{hide: model.loaded}"
     style="width: 50px; height: 50px; position: fixed;top: 50%;left: 50%; margin-left: -25px; margin-top: -25px; z-index:9000;">
<div class="container ng-cloak" style="margin-top:70px;" ng-cloak >

    <div class="row clearfix" >
        <div class="col-md-12 column">
            <!--<nav ng-if="appCtrl.isLogged" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">-->
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a class="navbar-brand hidden-xs" href="/index.html" ></a>

                        <div class="container pull-left visible-xs">
                            <a class="navbar-brand" href="#" ></a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                        <ul class="nav navbar-nav">

                            <li ui-sref-active="active" ng-repeat="menuItem in appCtrl.menuItems track by $index">
                                <a style="font-size:150%"  ui-sref="{{menuItem.state}}">{{menuItem.locale | translate}}</a>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">

                            <li on-toggle="toggled(open)" uib-dropdown>
                                <a href="" uib-dropdown-toggle><span class="glyphicon glyphicon-globe" style="height:100%;"></span></a>
                                <ul uib-dropdown-menu>
                                    <li ng-repeat="m in menu" ng-class="{active: isLocation(m.url)}" class="visible-xs animated-enter-item">
                                        <a href="" ng-click="goto(m.url)"><span ng-class="m.icon"></span>&nbsp;{{m.title |
                                            translate}}</a>
                                    </li>
                                    <li class="divider visible-xs"></li>
                                    <li ng-if="appCtrl.langKey!='cs'">
                                        <a href="" ng-click="appCtrl.changeLanguage('cs')"><img ng-src="" class="flag flag-cz"/> <span
                                                translate="core.BUTTON_LANG_CS"></span></a>
                                    </li>
                                    <li ng-if="appCtrl.langKey!='en'">
                                        <a href="" ng-click="appCtrl.changeLanguage('en')"><img ng-src="" class="flag flag-gb"/> <span
                                                translate="core.BUTTON_LANG_EN"></span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>

    </div>

    <div class="col-md-12 column bgr2" ng-class="{show: modelTotal.loaded}" style="display: none;">
        <div ui-view="main" class="animate-fade-up"></div>
    </div>

    <div class="edScrollerUp ed-scroller-up-box hidden-xs animated-show-item" ed-scroller-up-offset="180" ng-show="edScrollerUpShow" >
        <i class="glyphicon glyphicon-chevron-up"></i><br>
        <!--<small>{{'core.SCROLL_TOP' | translate}}</small>-->
    </div>

    <div ed-alert-message></div>

</div>

<div class="footer bgr1">
    <div class="container">
        <div class="footer-content"><div ui-view="footer"></div></div>
    </div>
</div>


<!-- include: "type": "js", "files": "bower/**/*.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "components/*.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "components/*/*.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "components/*/*/*.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "modules/*/*.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "modules/*/*/*.js" -->
<!-- /include -->



<!-- include: "type": "js", "files": "ngCore.lib.min.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "npm/**/*.min.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "ngCore.min.js" -->
<!-- /include -->


<!-- include: "type": "js", "files": "*AppController.js" -->
<!-- /include -->

<!-- include: "type": "js", "files": "app.js" -->
<!-- /include -->


</body>
</html>