<h4 class="list-group-item-heading" >{{item.title}}</h4>

<span >{{ item.text}}</span>

<p class="list-group-item-text">
    <span >{{item.created | date:'medium'}}</span>
</p>

<p ng-if="item.updated" class="pull-right list-group-item-text">
    <span>updated: {{item.updated | date:'medium'}}</span>
</p>