
<div class="row">
    <div class="well well-lg card">
        <item-view item="itemDetailCtrl.note"></item-view>
    </div>
</div>

<div class="row">
    <div class="pull-left">
        <button class="btn btn-lg btn-warning" ui-sref="items">{{'core.BACK' | translate}}</button>
    </div>

</div>