<div class="col-12-xs">
    <h2 class="textBold">
        {{'ngCore.ITEMS_LABEL' | translate}}
        <small>{{'ngCore.ITEMS_LABEL_TEXT' |  translate}}</small>
    </h2>

    <div class="row note list-group-item">
        <button
                class="btn btn-lg btn-success pull-right"
                ng-click="itemsCtrl.showAddNoteUI()">{{'ngCore.items.label.ADD_NOTE' |  translate}}</button>

    </div>

    <div class="clearfix"></div>


    <div class="list-group">


        <div class="list-group-item note row" ng-repeat="(noteId, note) in itemsCtrl.notes track by noteId">
            <div ng-if="!note.editing" class="pull-left animated-enter-item" >

                <item-view class="clearifx" item="note"></item-view>

            </div>

            <div ng-if="!note.editing" class="animated-enter-item pull-right">
                <button class="btn btn-lg btn-primary" ui-sref="detail({ noteId: noteId })"><i class="glyphicon glyphicon-eye-open"></i></button>
                <button class="btn btn-lg btn-success" ng-click="note.editing=!note.editing"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-lg btn-danger" ng-click="itemsCtrl.askRemoveNote(noteId, note)"><i class="glyphicon glyphicon-remove"></i></button>
            </div>


            <form ng-if="note.editing" class="animated-enter-item" name="itemsCtrl[ 'noteForm' +  noteId ]" novalidate>
                <p><input ed-auto-focus class="form-control max-width-control" type="text" ng-model="note.title" required/></p>

                <p ><textarea class="form-control max-width-control"  name="noteTextInput" ng-model="note.text" required></textarea></p>

                <p>
                    <div>
                        <button class="btn btn-lg btn-warning pull-left"
                            ng-click="note.editing = false">{{'core.BACK' | translate}}</button>
                        <button class="btn btn-lg btn-success pull-right"
                           ng-click="itemsCtrl.updateNote(noteId, note)">{{'core.SAVE' | translate}}</button>
                    </div>
                </p>

            </form>
        </div>


    </div>

    <div id="addNote" class="row">
        <form name="itemsCtrl.noteForm" novalidate>
            <p><input class="form-control"  type="text" name="noteTitleInput" ng-model="itemsCtrl.newNote.title" required/></p>


            <p ng-form name="noteFormInner">
                <textarea  class="form-control"  name="noteTextInput" ng-model="itemsCtrl.newNote.text" required></textarea></p>

            <p>
                <div>

                    <button ng-disabled="!itemsCtrl.noteForm.$dirty || !itemsCtrl.newNote"
                        class="btn btn-lg btn-warning pull-left"
                        ng-click="itemsCtrl.newNote=null">{{'core.RESET' | translate}}</button>

                    <button ng-disabled="!itemsCtrl.noteForm.$valid"
                       class="btn btn-lg btn-success pull-right"
                       ng-click="itemsCtrl.noteForm.$valid ? itemsCtrl.addNote(itemsCtrl.newNote) : ''">{{'core.SAVE' | translate}}</button>

                    <!--<button
                        class="btn btn-lg btn-success pull-right"
                        ng-click="itemsCtrl.createModule()">Create module</button>

                    <button
                        class="btn btn-lg btn-success pull-right"
                        ng-click="itemsCtrl.checkModule()">Check module</button>-->


                </div>
            </p>


        </form>
    </div>
    <div ui-view="note-view"></div>

        <div class="row" style="height: 60px;">

    </div>
</div>