<h2 class="textBold">
    {{'ngCore.DASHBOARD_LABEL' | translate}}
    <small>{{'ngCore.DASHBOARD_LABEL_TEXT' |  translate}}</small>
</h2>

<div class="row well well-lg card">
    <strong>{{dashCtrl.name}}</strong>
</div>
